<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup | Question 1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
    <section class="vh-100" style="background-color: #eee">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-4 col-xl-6 d-flex align-items-center">
                                    <!-- src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" -->
                                    <!-- src="https://cdn-lite.ip2location.com/img/sign-up.png" -->
                                    <img src="https://cdn.dribbble.com/users/2520294/screenshots/7269423/media/8db02365a1363822ae9f0554cf3d4469.gif"
                                        class="img-fluid" alt="Working GIF" title="Working GIF" />
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-6">
                                    <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-2">
                                        Sign up
                                    </p>

                                    <div class="col-md-12">
                                        <label for="email" class="form-label">Email</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text text-primary" id="addon-wrapping">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                                                </svg>
                                            </span>
                                            <input id="email" type="text" class="form-control" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="setpwd" class="form-label">Password</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text text-primary" id="addon-wrapping">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                                </svg>
                                            </span>
                                            <input type="password" id="setpwd" class="form-control"
                                                placeholder="Password" />
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <label for="profile" class="form-label">Profile Image</label>
                                        <input type="file" class="form-control text-primary" id="profile" />
                                    </div>
                                    <div class="col-md-12">
                                        <label for="document" class="form-label">Documents</label>
                                        <input type="file" class="form-control text-primary" id="document" multiple />
                                    </div>
                                    <div class="col-12 text-end ">
                                        <button class="btn btn-primary w-100 mt-3" id="signup">
                                            SIGN-UP
                                        </button>
                                    </div>
                                    <div class="text-center mt-3">
                                        <a href="/signin" class="text-primary">already have an account?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        $(document).on('click', '#signup', () => {
            $.ajax({
                url: "/signup",
                method: "POST",
                processData: false,
                // contentType: false,
                // enctype: 'multipart/form-data',
                data: {
                    file1: new FormData("file1", ('#profile').prop('files')),
                    email: $('#email').val(),
                    password: $('#setpwd').val(),
                },
                success: (data) => {
                    console.log(data);
                }
            })
        })
    })
</script>

</html>